@import "tailwindcss";
@plugin "flyonui" {
  themes: light --default, dark --prefersdark, corporate;
}
@import "flyonui/variants.css";
@source "../../node_modules/flyonui/flyonui.js";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}
